@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");

body
{
    background: -webkit-linear-gradient(-90deg, #300032, #684091); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #300032, #684091); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #300032, #684091); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #300032, #684091); /* Standard syntax */
    font-size: 28px;
}

#box 
{
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    animation: shake 1s both;
}

#menu
{
    font-family: Papyrus, fantasy;
    color: #e6e6e8;
    margin-top: 3px;
    float: left;
    text-align: center;
    height: 296px;
    width: 200px;
    font-size: 28px;
}

#statistics
{
    float: left;
    font-size: 20px;
    font-family: Papyrus, fantasy;
    color: #e6e6e8;
    width: 170px;
    height: 297px;
    text-align: center;
}


#newGame
{
    margin-top: 20px;
    font-size: 15px;
    width: 130px;
}

#newGame:hover{
    background: grey; 
}

#restart
{
    margin-top: 10px;
    font-size: 15px;
    width: 130px;
    margin-bottom: 20px;
}

#restart:hover{
    background: grey; 
}

#moveBack
{
    margin-top: 10px;
    font-size: 15px;
    width: 130px;
}

#moveBack:hover
{
    background: grey;  
}

#statisticsTitle
{   font-family: Papyrus, fantasy;
    font-weight: bolder;
    color: #e6e6e8;
    font-size: 25px; 
}

#gamename
{
    font-weight: bold;
    font-family: Papyrus, fantasy;
    font-weight: bolder;
    color: #e6e6e8;
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    animation: swing 1s both;
}

#gametable
{
    float: left;
    width: 450px;
    height: 450px;
    margin-left: 30px;
    margin-right: 35px;
    text-align: center;
    animation: shake 1s both;
}

#message
{
    font-size: 40px;  
    -webkit-text-stroke: 1px darksalmon;
}

.square {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 150px;
    height: 150px;
    background: #c43235;
    border: 3px solid #06000a;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-top:25px;
    font-size: 80px;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}

.square:hover
{
    background-color:#E2417F; 
}

#XPlayer
{
    margin-top: 40px;
    margin-left: 25px;
    line-height: 150%;
    float: left;
    width: 165px;
    height: 54px;
    text-align: center;
    font-size:20px;
}

#OPlayer
{
    float: left;
    margin-left: 25px;
    line-height: 150%;
    margin-right: 3px;
    width: 165px;
    height: 54px;
    text-align: center;
    font-size:20px;
}

#Draws
{

    float: left;
    margin-left: 25px;
    line-height: 150%;
    margin-right: 3px;
    width: 165px;
    height: 54px;
    text-align: center;
    font-size:20px;

}

#Matches
{
    float: left;
    margin-left: 25px;
    line-height: 150%;
    margin-right: 3px;
    width: 165px;
    height: 54px;
    text-align: center;
    font-size:20px;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: .3em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: .5em 1.5em .75em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .btn:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
    margin-top: .25em;
    padding-bottom: .5em; }
  .btn:active, .btn:focus {
    outline: none; }

.btn--blue {
  background-color: #3498db; }

.btn--green {
  background-color: #1abc9c; }

.btn--red {
  background-color: #e65d4f; }

    .btn--lg {
    font-size: 1.5em; }

    @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }

      @keyframes swing { 
        20% { transform: rotate(15deg); } 
        40% { transform: rotate(-10deg); } 
        60% { transform: rotate(5deg); } 
        80% { transform: rotate(-5deg); } 
        100% { transform: rotate(0deg); } 
     } 


